body {
  background-color: black;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* HEADINGS*/
.header--main {
  color: aliceblue;
  font-size: 50px;
  font-weight: normal;
}
.header--secondery {
  font-weight: 300;
  color: aliceblue;
  font-size: 42px;
}

.header--sub-header {
  font-size: 21px;
  color: gray;
}
.tag {
  text-align: right;
  color: gray;
}
/* LINKS*/
.link--cta {
  font-size: 16px;
  color: aquamarine;
}
